footer {
	box-shadow: 0 0 5px 1px #b28062;
	background: hsl(43, 33%, 96%);

	.container {
		margin: 0 auto;
		max-width: 1250px;
		display: flex;
		color: #a36848;
		justify-content: space-between;

		@media (max-width: 700px) {
			flex-direction: column;
		}

		font-weight: 600;
		padding: 13px;
	}

	section {
		@media (max-width: 700px) {
			margin: 5px 0;
		}
	}

	a {
		color: #a36848;
		@media (max-width: 700px) {
			margin: 5px 0;
		}

		&:hover {
			color: #c28f73;
			text-decoration: none;
		}
	}

	p {
		color: #4d4d4d;
		margin: 0;
	}
}
