footer {
	box-shadow: 0 0 5px 1px #b28062;
	background: hsl(43, 33%, 96%);

	.container {
		margin: 0 auto;
		max-width: 1250px;
		display: flex;
		justify-content: space-between;
		padding: 20px;

		@media (max-width: 900px) {
			flex-direction: column;
		}
	}

	section {
		@media (max-width: 900px) {
			margin: 5px 0;
		}
	}

	svg {
		margin-right: 0.5em;
	}

	a {
		@media (max-width: 900px) {
			margin: 5px 0;
		}
	}

	p {
		margin: 0;
	}
}
