header {
	box-shadow: 0 0 10px 1px hsl(23, 34%, 54%);
	background: hsl(43, 33%, 96%);
	height: 80px;

	nav {
		display: grid;
		max-width: 1250px;
		margin: 0 auto;
		grid-template-columns: 3fr auto;
		padding: 0 20px;
	}

	.logo {
		padding-top: 10px;
		width: 160px;
		height: auto;
	}

	.nav-links {
		padding-top: 23px;
		font-size: 1.5em;
	}
}
